a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0a0a0a;
}

.menu-btn {
  display: none;
}

.header {
  background-color: #0a0a0a;
  padding-top: 33px;
  padding-bottom: 32px;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #717171;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  flex-grow: 1;
  flex-basis: 0;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
  font-weight: 29px;
}

/* *********** HERO *********** */

.hero {
  padding-top: 71px;
  padding-bottom: 40px;
  background-color: #f5f5f7;
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #490e84;
}

.hero-img {
  margin-bottom: 25px;
}

img {
  border-style: none;
}

.hero-btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding: 22px 118px 19px;
  background-color: #490e84;
  border-radius: 30px;
}

/* *********** NEW *********** */

.new {
  padding-top: 87px;
  padding-bottom: 150px;
  /* max-width: 1130px; */
}

.new-title,
.color-title,
.contacts-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #717171;
  margin-bottom: 50px;
}

.new-info {
  display: flex;
  align-items: center;
}

.new-text p {
  max-width: 560px;
  margin-bottom: 30px;
}

.new-text b {
  display: block;
  max-width: 560px;
  font-size: 20px;
  line-height: 26px;
  color: #0a0a0a;
}

.new-img {
  margin-left: 191px;
}

/* *********** COLOR *********** */

.color {
  padding-bottom: 150px;
}

.color-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.color-img {
  margin-bottom: 20px;
}

.color-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

/* *********** CONTACTS *********** */

.contacts-inner {
  display: flex;
  background: #574b63;
  color: #ffffff;
}

.contacts-form {
  width: 100%;
  padding: 137px 93px;
  text-align: center;
}

.contacts-title {
  color: #ffffff;
  margin-bottom: 60px;
  text-align: left;
}

.contacts-input {
  display: block;
  width: 100%;
  margin-bottom: 30px;

  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #574b63;
}

.contacts-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  opacity: 0.5;
}

.contacts-form p {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 30px;
}

.contacts-btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #490e84;
  padding: 16px 81px;
  border-radius: 30px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

/* *********** FOOTER *********** */

.footer {
  background-color: #0a0a0a;
}

.footer-link {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-inner {
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
